.App {
  background-color: black;
}
.btn-gp{
  position: absolute;
  top: 0;
  right: 0;
}
.editBtn{
  background-color: white !important;
  border: none !important;
}
.voteBtn{
  position: absolute;
  top: 0;
  left: 0;
}

.small{
  position: absolute;

  top: 1%;
  left: 6%;
}

